%% ------------------------------------------------------------------
%% rebar.config
%% ------------------------------------------------------------------

{erl_opts, [debug_info]}.
{deps, []}.

%% --- Configuration to build the executable (escript) ---

% The name of the executable file to be generated.
{escript_name, "telejogo"}.

% Defines the main application for the escript.
% rebar3 will look for the main/1 function in the module defined in the 'mod'
% key of this application's .app.src file (telejogo.erl).
{escript_main_app, telejogo}.

% List of other OTP applications to be included in the executable.
% In this case, only our own application.
{escript_incl_apps, [telejogo]}.

% Arguments for the Erlang virtual machine when the escript is run.
% +sbtu and +A are common performance optimizations.
{escript_emu_args, "%%! +sbtu +A1\n"}.